header {
	height: 65px;
	background-color: white;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
	width: 100%;
	position: relative;
	z-index: 1;
}

header h1 {
	margin-top: 6px;
}

header a {
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	color: #091f2f;
	text-decoration: none;
}

header .title {
	width: 206px;
	height: 100%;
	margin-left: 20px;
	display: inline-block;
	vertical-align: top;
}

header .underline {
	width: 100%;
	background-color: #fb4d42;
	height: 4px;
}