.component-zone-tooltip {
	background: white;
	position: relative;
	width: 250px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
	margin-left: -125px;
	border-radius: 8px;
	top: 15px;
	transition: 0.2s;
	cursor: auto;
}

.component-zone-tooltip:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: white;
	border-bottom: 0;
	margin-left: -10px;
	margin-top: -10px;
	transform: rotate(180deg);
}

.tooltip-data-container {
	margin: 15px;
	width: calc(100% - 30px);
	display: inline-block;
}

.tooltip-hidden {
	visibility: hidden;
	opacity: 0;
	top: 25px;
	transition: opacity 0.2s visibility 0s linear;
}

.component-zone-tooltip .data-container {
	display: inline-block;
	vertical-align: top;
}

.component-zone-tooltip p {
	display: inline-block;
	font-size: 1.2em;
}

.component-zone-tooltip .data-container > p {
	margin-top: 4px;
}

.component-zone-tooltip .data-container > div > p {
	margin-left: 10px;
	font-size: 1.2em;
	vertical-align: top;
	margin-top: 1px;
	color: rgba(0, 0, 0, 0.5);
}

.component-zone-tooltip svg {
	width: 15px;
}

.component-zone-tooltip .cross {
	float: right;
	font-size: 20px;
	margin-top: -8px;
}

.component-zone-tooltip .tooltip-header > p {
	font-size: 2.4em;
	color: rgba(0, 0, 0, 0.8);
	margin-top: 12px;
	margin-bottom: 16px;
}

.component-zone-tooltip .tooltip-header {
	width: 100%;
}

.component-zone-tooltip .report-incorrect {
	margin-top: 15px;
	color: #288be4;
	text-decoration: underline;
	cursor: pointer;
}