.faq {
	display: inline-block;
	max-width: 500px;
	width: calc(100% - 40px);
	vertical-align: top;
	margin-left: 20px;
	margin-right: 20px;
}

.faq h2 {
	font-size: 3em;
	color: #091F2F;
	text-align: center;
	display: inline-block;
}

.faq .underline {
	height: 4px;
	background: #FB4D42;
}

.faq > div:first-of-type {
	display: inline-block;
	margin: 0 auto;
	padding-bottom: 24px;
	text-align: center;
}

.faq div {
	text-align: left;
}

.faq h3 {
	line-height: 40px;
	font-weight: normal;
	opacity: 0.5;
}

.faq .answer {
	margin-bottom: 20px;
	line-height: 1.2em;
}