.title-visible {
	opacity: 1 !important;
	top: 20px !important;
}

.select-location-title {
	position: absolute;
	left: 50%;
	top: 30px;
	width: 250px;
	margin-left: -125px;
	background-color: rgba(0, 0, 0, 0.7);
	line-height: 40px;
	z-index: 1;
	border-radius: 20px;
	color: white;
	text-align: center;
	transition: 0.3s;
	opacity: 0;
}

.select-location-title > div {
	position: relative;
	text-align: center;
}

.select-location-title p {
	width: 100%;
}

.select-location-title .cross {
	position: absolute;
	float: right;
	font-size: 30px;
	cursor: pointer;
	width: 52px;
	right: 0;
	height: 100%;
	top: 0;
}