.zone-list {
	max-width: 500px;
	width: calc(100% - 40px);
	display: inline-block;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
}

.zone-list h2 {
	font-size: 3em;
	color: #091F2F;
	text-align: center;
	display: inline-block;
}

.zone-list .underline {
	height: 4px;
	background: #FB4D42;
}

.zone-list th img {
	height: 13px;
}

.zone-list th {
	width: 120px;
	height: 40px;
}

.zone-list th p {
	font-size: 1.2em;
	font-weight: normal;
	opacity: 0.5;
	margin-left: 10px;
}

.zone-list th * {
	display: inline-block;
}

.zone-list table {
	border-spacing: 0;
}

.zone-list table, .zone-list tr, .zone-list thead {
	width: 100%;
}

.zone-list > div {
	display: inline-block;
	margin: 0 auto;
	padding-bottom: 24px;
}

.zone-list tbody tr:nth-child(2n + 1) {
	background: #E6E6E6;
}

.zone-list tbody tr {
	height: 35px;
}

.zone-list .more {
	color: #288BE4;
	text-decoration: underline;
	text-align: right;
	line-height: 30px;
	cursor: pointer;
}