.people {
	position: relative;
	height: 100%;
}

.people > div {
	position: absolute;
}

.people img {
	border-radius: 1000px;
}

.people .person-0 {
	left: 0%;
}

.people .person-0, .people .person-4 {
	top: 40px;
	z-index: 0;
}

.people .person-1 {
	left: 27px;
}

.people .person-1, .people .person-3 {
	top: 58px;
	z-index: 1;
}

.people .person-1 .person, .people .person-3 .person, .people .person-0 .person, .people .person-4 .person {
	transform: translatey(0px);
	animation: light-float 5s ease-in-out infinite;
}

.people .person-1 .shadow, .people .person-3 .shadow {
	opacity: 0.5;
}

.people .person-0 .shadow, .people .person-4 .shadow {
	opacity: 0.3;
}

.people .person-2 {
	left: 50%;
	margin-left: -55px;
	top: 50px;
	width: 110px;
	z-index: 3;
}

.people .person-2 .person {
	transform: translatey(0px);
	animation: float 5s ease-in-out infinite;
}

.people .person-2 .shadow {
	animation: shadow 5s ease-in-out infinite;
}

.people .person-3 {
	right: 27px;
}

.people .person-4 {
	right: 0;
}

.person {
	animation: margin-top ;
}

@keyframes light-float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-5px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes shadow {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		transform: scale(1.3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@media (max-width: 700px) {

	.people {
		max-width: 400px;
		margin: 0 auto;
	}

}