#privacy-policy {
	max-width: 900px;
	margin: 0 auto;
	padding: 20px;
}

#privacy-policy h1 {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
}

#privacy-policy h3 {
	margin-bottom: 10px;
}

#privacy-policy p {
	margin-top: 10px;
	margin-bottom: 10px;
}

#privacy-policy h2 {
	margin-top: 15px;
	margin-bottom: 10px;	
}

#privacy-policy h1, #privacy-policy h2, #privacy-policy h3 {
	color: #091f2f;
	opacity: 0.85;
}

#privacy-policy p, #privacy-policy address {
	opacity: 0.9;
	color: #091f2f;
}