#feedback-form {	
	width: 100%;
	margin-top: 130px;
}

#feedback-form .component-hover-form {
	margin-left: -150px;
}

@media (max-width: 700px) {

	#feedback-form {
		margin: 0;
		top: 0;
		position: absolute;
		
	}

	#feedback-form .component-hover-form {
		margin: 0;
		position: fixed;
		top: auto;
		bottom: 0;
	}

}